@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: "Inter", sans-serif;
}

@layer components {
    .image{
        -webkit-mask-image: url(./assets/Circle.png);
        -webkit-mask-position: center;
        -webkit-mask-repeat: no-repeat; 
        height: 100%;
    }
    .text-stroke{
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-color: white ;
        -webkit-text-stroke-width:  2px; 
    }
    .perspective{
        perspective: 2200px;
    }
}